@import "tailwindcss";
@theme{
  --color-bg-100:#0f172a;
  --color-bg-200:#1e293b;
  --color-bg-300:#ef4444;
  --color-text-100:#f1f5f9;
  --color-text-200:#94a3b8;
  --color-text-300:#60a5fa;
  --color-text-400:#64748b;
  --color-bg-400:#1e3a5f;
  --color-border-100:#334155;
}
#notif:hover{
  background: #334155;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
#list:active{
  opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.hide {
  visibility: hidden;
}